.ad-greeting {
    border: 5px solid gray;
    background-color: #000000;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: scroll;
}

.ad-1 {
    border: 5px solid red;
    width: 49%;
    height: 50%;
}

.ad-2 {
    border: 5px solid blue;
    width: 49%;
}