.hello-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.greeting {
    margin-top: 10rem;
    margin-bottom: 10rem;
    border: 10px solid white;
    background-color: #ffffffa4;
    width: 50%;
    height: 500px;
}

.contentsWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#greeting-logo {
    width: 200px;
    height: 200px;
}

.subtitle {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px gray;
    font-family: 'Noto Sans KR', sans-serif;
}

.title {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 4rem;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 2px gray;
    font-family: 'Raleway', sans-serif;
}

.ad {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.505);
    color: white;
}

.adWrapper {
    display: flex;
    border-bottom: 5px solid gray;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ad-left-text {
    width: 49%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.ad-right-image {
    width: 49%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.ad-left-image {
    width: 49%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.ad-right-text {
    width: 49%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.ad-text-title {
    font-family: 'Do Hyeon';
    font-size: 3rem;
    margin-bottom: 10px;
}

.ad-text-subtitle {
    font-family: 'Jua';
    font-size: 1.5rem;
}

#laptop-gif, #genre-icon, #location-icon, #ad-icon {
    width: 400px;
}

.footer {
    padding-top: 20px;
    background-color: #000000c4;
}

.uppart {
    display: flex;
}

.logoarea {
    margin-left: 30px;
    margin-right: 20px;
    height: 100px;
}

.logoimg {
    width: 300px;
}

.infoarea {
    width: 70%;
    height: 100px;
}

.infoPart {
    justify-content: center;
    align-items: center;
}

.infobody {
    color: gray;
    margin-top: 5px;
}

.infobuttons {
    display: flex;
    color: white;
    margin-top: 5px;
}

.terms-spacer {
    margin-right: 10px;
}

.terms-default, .terms-location {
    color: white;
}