.spacing-A {
    flex-grow: 0;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.65)
  }


.spacing-B {
  flex-grow: 0;
  height: 130px;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.65)
}