.greeting {
    border: 10px solid white;
    background-color: #ffffffa4;
    width: 50%;
    height: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}



#greeting-logo {
    width: 200px;
    height: 200px;
}

.subtitle {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px gray;
    font-family: 'Noto Sans KR', sans-serif;
}

.title {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 4rem;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 2px gray;
    font-family: 'Raleway', sans-serif;
}