.spacing-PO {
    flex-grow: 0;
    height: 150px;
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.65)
}

.local {
    margin-top: 20px;
    margin-bottom: 5px;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
}

.genre {
    margin-top: 20px;
    margin-bottom: 5px;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
}

.window-select {
    z-index: 100;
    color: #000;
    font-family: roboto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    height: 560px;
    width: 360px;
    background: #fff;
    background: url('https://pexels.imgix.net/photos/27718/pexels-photo-27718.jpg?fit=crop&w=1280&h=823') top left no-repeat;
  }

.welcome {
    color: #fff;
}