.show-body {
    background-color: #111111;
    display: grid;
    height: 100vh;
    overflow-x: hidden;
}

.mainstream {
    width: 100vw;
    animation: scroll 70s linear infinite;
    background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"), #111111;
    color: #eee;
    height: 100vh;
    min-width: 360px;
    width: 100%;
    perspective: 1000px;
    perspective-origin: 50% 50%;
}

@keyframes scroll {
    100%{
     background-position:0px -3000px;
   }
 }
 
 @media (prefers-reduced-motion) {
   .mainstream {
     animation: scroll 200s linear infinite;
   }
 }








.show-add-btn-area {
    background-color: #393939;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.show-add-btn {
    border: none;
    border-radius: 5px;
    margin-right: 20px;
    height: 25px;
}

.datatitle {
    margin-top: 5px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-family: 'Do Hyeon';
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.587);
}



.data1 {
    background-color: #3d3d3d78;
    padding-left: 30px;
    padding-right: 30px;
}

.data2 {
    background-color: #3d3d3d78;
    padding-left: 30px;
    padding-right: 30px;
}