.add-body {
    padding: 30px;
}

.add-bigtitle {
    text-align: center;
    font-size: 3rem;
    color: black;
    font-family: "Song Myung";
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

.add-title {
    color: rgb(61, 61, 61);
    font-family: "Do Hyeon";
    font-size: 1.8rem;
    margin-left: 10px;
    margin-right: 10px;
}

.add-subtitle {
    color: black;
    font-family: "Jua";
    margin-top: 20px;
}

.add-contents {
    display: flex;
    flex-wrap: wrap;
}





.add-left {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.add-thumbnail-Wrapper {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.add-thumbnail {
    width: 300px;
    height: 400px;
}

.add-thumbnail-holder {
    width: 300px;
    height: 400px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.add-thumbnail-upload {
    border-radius: 5px;
    padding-left: 7px;
    background-color: whitesmoke;
    color: black;
    width: 100%;
    margin-top: 5px;
    height: 23px;
}




.add-right {
    border-left: 1px solid black;
    width: 65%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.add-title2 {
    color: rgb(61, 61, 61);
    font-family: "Do Hyeon";
    font-size: 1.8rem;
    margin-left: 10px;
    margin-right: 10px;
    width: 10%;
    word-break: keep-all;
}

.add-formWrapper {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    width: 100%;
}

.adfinput {
    width: 100%;
    height: 30px;
    color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgb(211, 211, 211);
    border-bottom: 1.5px solid royalblue;
}

.adfinput::placeholder {
    color: black;
}


.adr2 {
    height: 30px;
    color: black;
}

.adr-search-btn {
    width: 80px;
    height: 30px;
}

.add-show-location {
    width: 50%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.add-show-genre {
    width: 50%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.addshow-alert {
    color: black;
}







@media screen and (max-width: 1440px) {


    .add-body {
        padding: 30px;
        width: 90%;
        height: auto;
    }
    
    .add-bigtitle {
        text-align: center;
        font-size: 2rem;
        color: black;
        font-family: "Song Myung";
        padding-bottom: 10px;
        border-bottom: 2px solid black;
        margin-bottom: 20px;
    }
    
    .add-title {
        color: rgb(61, 61, 61);
        font-family: "Do Hyeon";
        font-size: 1.3rem;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .add-subtitle {
        color: black;
        font-family: "Jua";
        margin-top: 20px;
    }
    
    .add-contents {
        display: flex;
        flex-direction: column;
    }
    
    
    
    
    
    .add-left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;

    }
    
    .add-thumbnail-Wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
    .add-thumbnail {
        width: 200px;
        height: 300px;
    }
    
    .add-thumbnail-holder {
        width: 200px;
        height: 300px;
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
    .add-thumbnail-upload {
        border-radius: 5px;
        padding-left: 7px;
        background-color: whitesmoke;
        color: black;
        width: 100%;
        margin-top: 5px;
        height: 23px;
    }
    
    
    
    
    .add-right {
        border: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: unset;
    }
    
    .add-showtitle {
        width: 50%;
        font-size: 1.3rem;
        color: black;
    }
    
    .add-formWrapper {
        display: flex;
        margin-bottom: 10px;
        flex-wrap: wrap;
    }

    .add-title2 {
        color: rgb(61, 61, 61);
        font-family: "Do Hyeon";
        font-size: 1.8rem;
        margin-left: 10px;
        margin-right: 10px;
        width: 10%;
        word-break: keep-all;
    }
    
    .adfinput {
        width: 100%;
        height: 30px;
        color: black;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: rgb(211, 211, 211);
        border-bottom: 1.5px solid royalblue;
    }

    .adfinput::placeholder {
        color: black;
    }
    
    
    
    .adr-search-btn {
        width: 80px;
        height: 30px;
    }
    
    .add-show-location {
        width: 50%;
        height: 30px;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    
    .add-show-genre {
        width: 50%;
        height: 30px;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    
    .addshow-alert {
        color: black;
    }





}