/* .cd-body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width: 100vw;
    height: 150%;
} */

/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */


.clicked_showBox {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* height: 100vh; */
}

/* 왼쪽 제어 (썸네일, 리뷰 등) */

.cd-show-left_thumbnail {
    border-right: none;
    width: 30%;
    /* height: 70vh; */
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.cd-show-thumbnail {
    width: 300px;
    height: 400px;
}

.cd-show-reviewWrapper{
    margin-top: 20px;
    margin-right: 30px;
    width: 95%;
    min-width: 400px;
    /* height: 110px; */
    box-shadow: 4px 4px 12px rgb(0, 0, 0, 10%);
}

.cd-show-review-title {
    font-family: 'Do Hyeon';
    font-size: 1.3rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: black;
    text-align: left;
    border-left: 3px solid royalblue;
}

.cd-show-review-tableIndex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    color: black;
    border-bottom: 1px solid gray;
    margin-left: 10px;
    margin-top: 7px;
}

.cd-review-tablelabel-info{
    text-align: center;
    width: 100px;
}
.cd-review-tablelabel-contents{
    text-align: center;
    width: 370px;
}
.cd-review-tablelabel-rate{
    text-align: center;
    width: 50px;
}

.cd-show-reviewBox {
    display: flex;
    justify-content: space-between;
    color: gray;
    margin-left: 10px;
}

.cd-review-info {
    width: 100px;
    height: 1rem;
    overflow: hidden;
    margin-bottom: 10px;
}

.cd-review-contents {
    width: 370px;
    height: 1rem;
    overflow: scroll;
    margin-bottom: 10px;
}

.cd-review-rate {
    width: 50px;
    height: 1rem;
    overflow: hidden;
    margin-bottom: 10px;
}







/* 오른쪽 제어 (공연 정보, 지도 등) */

.cd-show-right_description {
    width: 65%;
    margin-top: 50px;
    border-left: 1px solid black;
    padding-left: 30px;
}

.cd-show-title {
    color: black;
    font-family: 'Do Hyeon';
    font-size: 2rem;
    margin-bottom: 15px;
}

.cd-show-parts {
    color: black;
    display: flex;
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-family: 'Noto Sans KR';
}

.cd-show-label {
    color: black;
    font-family: "Do Hyeon";
    margin-right: 10px;
    font-size: 1.3rem;
}

.kakaomap {
    margin-top: 10px;
}

.cd-show-writeReview {
    background-color: white;
    border-radius: 0px 20px 0px 20px;
    width: 83.2%;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 12px rgb(0, 0, 0, 10%);
}

.cd-show-reviewtitle {
    color: black;
    font-size: 1.3rem;
    font-family: 'Do Hyeon';
    margin-top: 10px;
    margin-bottom: 10px;
}

.cd-show-review {
    color: black;
    width: 500px;
    height: 30px;
    font-size: 1.1rem;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Noto Sans KR';
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid royalblue;
}

.cd-show-rating {
    color: black;
    height: 30px;
    font-size: 1.1rem;
    margin-right: 10px;
    font-family: 'Jua';
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid royalblue;
}

.cd-show-reviewSubmit {
    border: none;
    background-color: rgb(234, 234, 234);
    width: 50px;
    height: 30px;
    font-size: 1.1rem;
    font-family: 'Jua';
    margin-top: 10px;
    margin-bottom: 10px;
}

.cd-show-reviewSubmit:hover {
    transform: translateY(-2px);
}

/* 하단부 제어 (버튼) */

.cd-show-btn-area {
    width: 100vw;
    text-align:end;
}

.cd-show-btn {
    width: 100px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 20px;
}

.cd-show-btn:hover {
    background-color: #e56b2e;
    box-shadow: 0px 15px 20px rgba(229, 107, 46, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }