.sc-body {
    background-color: #00000091;
    width: 100%;
}

.searchedlistup {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}


.result-showBox {
    display: flex;
    width: 400px;
    margin: 10px;
}

.result-showBox_img {
    width: 200px;
    height: 300px;
}

.result-infoBox {
    background-color: #645d5d;
    width: 100%;
    border: 1px solid white;
    
}

.result-title {
    font-family: 'Do Hyeon';
    font-size: 1.5rem;
    margin-bottom: 10px;
    background-color: black;
    padding: 10px;
}

.result-rundate {
    font-family: 'Jua';
    font-size: 1.1rem;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.result-place {
    font-family: 'Jua';
    font-size: 1.1rem;
    margin-left: 10px;
    margin-right: 10px
}






.searchedlistup-cancel {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sc-notice {
    border-radius: 20px;
    background-color: #500000;
    padding: 80px;
    font-family: 'Do Hyeon';
    font-size: 3rem;
}